body,
html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #f5f5f5;
}

* {
    font-family: 'Roboto', sans-serif;
}

#nprogress .bar {
    top: 51px;
    background: orange;
    height: 2px;
    z-index: 9999;
}

#fullscreenElement {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /*	background: url(../img/bg.jpg) no-repeat center top;*/
    /*background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.4)), url(../img/bg.jpg) no-repeat center center;*/
    background-size: cover;
    z-index: 9999 !important;
}

#fullscreenElement.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

.fullscreen-close {
    position: absolute;
    top: 25px;
    right: 30px;
    opacity: 1;
    z-index: 99999 !important;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#fullscreen_stage {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}


/* SIDE NAV JS related code */

.sn-backdrop {
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: none;
    opacity: 0;
    z-index: 50;
    will-change: opacity;
}

.sn-visible .sn-backdrop {
    display: block
}

.sn-sidenav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    will-change: transform;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    /* background-color: #3498DB; */
    background-color: #222;
    /* padding: 20px; */
    color: #fff;
}

.sn-content {
    position: relative;
    z-index: 10
}

.sn-visible,
.sn-visible body,
.sn-visible .sn-content {
    overflow: hidden
}

#content {
    position: absolute;
    /* border: 2px solid red; */
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background: #f5f5f5;
}

.side-menu-items {
    background: none !important;
    border: none !important;
    width: 250px !important;
}

#title-text {
    width: 100%;
    text-align: center;
    padding-top: 14px;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    font-weight: 400;
}

#navbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

#stage {
    position: absolute;
    top: 45px;
    left: 0px;
    right: 0px;
    bottom: 2px;
    overflow: hidden;
    overflow-y: scroll;
    /* background: url('img/w1.png') no-repeat center #fff; */
    background-size: cover;
    -webkit-overflow-scrolling: touch;
    background: #f5f5f5;
}

#stage::-webkit-scrollbar {
    display: none;
}

.navbar-grad {
    /* background: linear-gradient(to right, #336699, #003366) !important; */
    background: #003366 !important;
}

#sidenav {
    /* background: linear-gradient(#333, #222) !important; */
    background: linear-gradient(#003366, #336699) !important;
    /* background: linear-gradient(green, brown) !important; */
    width: 250px;
    font-weight: 200 !important;
    letter-spacing: 1px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.flexy-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: -20px;
}

.screen-wrapper {
    position: absolute;
    margin: 0px;
    /* border: 2px solid red; */
    top: 1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.icon-in-card {
    padding-top: 10px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.grad-bg {
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
    border: none !important;
    min-height: 120px;
    text-align: center;
    cursor: pointer;
}

.touch-link {
    cursor: pointer;
}

.red-grad {
    background: linear-gradient(to top left, red, orange) !important;
}

.blue-grad {
    background-image: linear-gradient(to bottom right, #4F9EED, #0057AD);
}

.gray-grad {
    background: linear-gradient(to top left, #607d8b, gray) !important;
}

.lime-grad {
    background: linear-gradient(to bottom right, #37FF29, #00B000) !important;
}

.pink-grad {
    background: linear-gradient(to bottom right, #FF00B5, #9C006E) !important;
}

.slate-grad {
    background: linear-gradient(to top left, #333333, rgb(51, 51, 51, 0.5)) !important;
}

.masonry.grid {
    display: block;
}

@media only screen and (min-width: 768px) {
    .masonry.grid {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }

    .ui.doubling.masonry.grid[class*="three column"]>.column {
        width: 100% !important;
    }
}

@media only screen and (min-width: 992px) {
    .masonry.grid {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


/* File upload buttons */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.centered_td {
    text-align: center !important;
}

.ellipsis {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}