<style>
    .organization-row-item {
        cursor: pointer;
    }

    .org-card-style {
        margin: 30px 0px !important;
        margin-left: 5px !important;
        border-radius: 8px !important;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12) !important;
        cursor: pointer;
    }
</style>

<div class="screen-wrapper" style="margin-top:20px;padding-right:10px;">
    <div class="ui two column stackable grid middle aligned container " id="non-admin-block">
        <div class="column">
            <h4 class="ui header ui blue">
                <i class="list alternate outline blue icon"></i>
                <div class="content">
                    My Organizations
                    <div class="sub header">Organizations List</div>
                </div>
            </h4>
        </div>
        <div class="column right aligned remove-on-mobile">
            <div class="ui tiny button orange create-organization-button" style="border-radius: 15px;">
                <i class="plus icon"></i>Add Organization</div>
            <!-- <div class="ui tiny button red" id="review-users-add-button" style="border-radius: 15px;" id="create-item-button">
                    <i class="trash icon"></i> Delete
                </div> -->
        </div>
    </div>

    <div class="ui divider"></div>
    <div class="ui container">
        <div class="ui basic segment" id="organization-item-list-table-holder">
            <div class="ui active centered inline loader"></div>
        </div>
        <br>
    </div>
</div>


<script type="text/javascript">
    $(function () {

    });
</script>