<style>
    .profile-card-style {
        /* background: #fafafa !important; */
        background: none !important;
        box-shadow: none !important;
        /* border: 1px solid #dcdcdc !important; */
    }

    @media only screen and (min-width: 768px) {}
</style>

<div class="screen-wrapper" style="padding:10px;;margin-top:10px;">

    <div class="ui two column stackable grid middle aligned container">
        <div class="column">
            <h4 class="ui header ui blue">

                <div class="content">
                    Profile
                    <div class="sub header">TAL User profile settings</div>
                </div>
            </h4>
        </div>
        <div class="column right aligned  remove-on-mobile">
            <div class="ui tiny button orange" style="border-radius: 15px;" id="create-item-button">
                <i class="edit icon"></i> Update Profile</div>
        </div>
    </div>

    <div class="ui divider"></div>
    <br>

    <div class="ui container ui three column  doubling stackable masonry grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Contact info</div>
                    <div class="meta">
                        <span>Enter your contact details</span>
                    </div>
                </div>
                <div class="extra content">
                    <br>
                    <div id="contact-information-holder">
                        <div class="ui active centered inline loader"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Avatar</div>
                    <div class="meta">
                        <span>Upload your profile image</span>
                    </div>
                </div>
                <div class="extra content">
                    <br>
                    <div class="ui basic center aligned segment">
                        <div class="ui dimmer" id="profile-dimmer">
                            <div class="ui indeterminate text loader">Preparing Files</div>
                        </div>
                        <img src="https://semantic-ui.com/images/wireframe/image.png" alt="" id="user-profile-image"
                            class="ui image small centered" style="margin-bottom: 20px;">
                        <div>
                            <input type="file" class="inputfile" id="profile-image-upload-button" />
                            <label for="profile-image-upload-button" class="ui small teal button">
                                <i class="ui upload icon"></i>
                                <span id="profile-upload-button-text">Upload Profile Image</span>
                            </label>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Public Profile</div>
                    <div class="meta">
                        <span>Enter your profile details</span>
                    </div>
                </div>
                <div class="extra content">
                    <br>
                    <div id="personal-information-holder">
                        <div class="ui active centered inline loader"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="column">

            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Social info</div>
                    <div class="meta">
                        <span>Enter your social details</span>
                    </div>
                </div>
                <div class="extra content">
                    <br>
                    <div id="social-information-holder">
                        <div class="ui active centered inline loader"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Password settings</div>
                    <!-- <div class="meta">
                    <span>Enter your social details</span>
                </div> -->
                </div>
                <div class="extra content">
                    <br>
                    <div class="ui tiny form">
                        <div class="field">
                            <div class="ui input left icon fluid">
                                <i class="key orange icon"></i>
                                <input type="text" id="newpassword" placeholder="Enter New Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui input left icon fluid">
                                <i class="globe orange icon"></i>
                                <input type="text" id="confirmpassword" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="field center aligned">
                            <br>
                            <button class="ui orange mini button" id="profile-change-password-button">Change
                                Password</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">Roles</div>
                    <div class="meta">
                        <span>Select your role type</span>
                    </div>
                </div>

                <div class="extra content">
                    <br>
                    <div id="role-information-holder">
                        <div class="ui active centered inline loader"></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <input type="hidden" id="profile-id" value="" />

    </div>

    <div id="mobile-profile-button-holder" class="ui basic segment center aligned">

    </div>

</div>



<script type="text/javascript">
    $(function () {

    });
</script>